body {
  background-color: #1e1e1e;
  font-family: "Kanit", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

nav {
  width: 100%;
  height: 100px;
  background-color: #171614;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0px;
}
nav #nav_logo {
  width: 50%;
  height: 100%;
  color: #E1DEDA;
  font-size: 60px;
  margin-left: 15px;
  text-align: left;
}
nav #nav_logo h1 {
  margin: 0;
}
nav #nav_span {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}
nav #nav_span hr {
  border: 1px #F88181 solid;
  height: 20px;
  margin: 10px;
}
nav #nav_span .button_1 {
  margin: 15px;
  font-size: 30px;
  font-family: "Kanit", sans-serif;
  background-color: #171614;
  border: 0;
  cursor: pointer;
  color: #E6E9E8;
}
nav #nav_span .button_1:hover {
  color: #E45429;
  transition-duration: 0.5s;
  transform: scale(1.2);
}
nav #nav_span h1 {
  height: 150px;
  margin-top: 25px;
}
nav #nav_span a {
  text-decoration: none;
  color: #E6E9E8;
}
nav #nav_span a:hover {
  color: #E45429;
}
nav #button_mobile {
  display: none;
}

#nav_bar {
  display: none;
}

main {
  width: 95%;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #171614;
  margin-top: 150px;
  color: #E6E9E8;
}
main h2 {
  font-size: 55px;
}
main #gallery {
  width: 90%;
  height: 800px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
main #gallery .podpis {
  display: none;
  color: red;
}
main #gallery .foto {
  width: 8%;
  height: 200px;
  margin: 10px;
  border: solid 2px black;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 1px black;
  transition-duration: 0.5s;
}
main #gallery .foto img {
  width: 100%;
  height: 100%;
}
main #gallery .foto:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 5px 5px 5px black;
}

#selected_foto {
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  margin-top: 20px;
  width: 100%;
  height: 100%;
  text-align: center;
  display: none;
  position: fixed;
  top: 0;
  color: red;
}
#selected_foto img {
  width: 35%;
  height: 85%;
}
#selected_foto .napis {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 85%;
  right: 42%;
  font-size: 25px;
}

#close {
  position: fixed;
  right: 50px;
  top: 50px;
  font-size: 100px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border: none;
}

.arrow {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.arrow:hover {
  transform: scale(1.2);
}

#left, #right {
  width: 80px;
  height: 80px;
  transition: 0.5s;
  float: left;
  box-shadow: -2px 2px 0 rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

#left {
  transform: rotate(45deg);
  position: fixed;
  top: 50%;
  left: 30%;
}

#right {
  transform: rotate(225deg);
  position: fixed;
  top: 50%;
  right: 30%;
}

@media screen and (min-width: 901px) and (max-width: 1050px) {
  nav #nav_logo {
    width: 30%;
  }
  nav #nav_span {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
  }
  nav #nav_span .button_1 {
    font-size: 18px;
    margin: 5px;
  }
  nav #nav_span .button_1:hover {
    color: #E45429;
    transition-duration: 0.5s;
    transform: scale(1.1);
  }
  nav #button_mobile {
    display: none;
  }
}
@media screen and (min-width: 1051px) and (max-width: 1281px) {
  nav #nav_logo {
    width: 30%;
  }
  nav #nav_span {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
  }
  nav #nav_span .button_1 {
    font-size: 28px;
    margin: 5px;
  }
  nav #nav_span .button_1:hover {
    color: #E45429;
    transition-duration: 0.5s;
    transform: scale(1.1);
  }
  nav #button_mobile {
    display: none;
  }
  #nav_bar {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  nav {
    width: 100%;
    height: 125px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  nav #nav_logo {
    width: 40%;
    height: 60%;
  }
  nav #nav_logo h1 {
    font-size: 50px;
  }
  nav #nav_span {
    display: none;
  }
  nav #arrow_button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    display: flex;
    transition: 0.5s;
    height: auto;
  }
  nav #arrow_button:hover {
    transform: scale(1.3);
  }
  nav #arrow {
    width: 35px;
    height: 35px;
    transition: 0.5s;
    position: relative;
    box-shadow: -2px 2px 0 rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transform: rotate(-45deg);
  }
  nav #button_mobile {
    background-color: #171614;
    width: 20%;
    height: 60%;
    margin: 5px 15px 0px 0px;
    display: flex;
    justify-content: flex-end;
  }
  nav #button_mobile .script_button {
    transition-duration: 0.5s;
    cursor: pointer;
  }
  nav #button_mobile img {
    width: 40px;
    height: 40px;
  }
  nav #button_mobile button {
    background-color: #171614;
    border: 0;
  }
  nav #nav_bar {
    display: none;
    width: 50%;
    height: 210px;
    justify-content: center;
    margin-top: 20px;
    position: fixed;
    top: 60px;
    right: 15px;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  nav #nav_bar ul {
    font-size: 27px;
    width: 100%;
    height: 220px;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }
  nav #nav_bar ul li {
    width: 100%;
    margin: 0;
  }
  nav #nav_bar ul li a {
    text-decoration: none;
    color: #E6E9E8;
    transition-duration: 0.5s;
  }
  nav #nav_bar ul li a:hover {
    color: #E45429;
  }
  nav #nav_bar ul li:hover {
    transition-duration: 0.5s;
    background-color: #171614;
    box-shadow: 6px 5px 5px black;
  }
  main {
    margin-top: 300px;
  }
  main #gallery {
    width: 100%;
    height: 1000px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    list-style-type: none;
  }
  main #gallery .foto {
    width: 25%;
    height: 200px;
    margin: 10px;
    border: solid 2px black;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 1px black;
  }
  main #gallery .foto img {
    width: 100%;
    height: 100%;
  }
  main #gallery .foto:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  #selected_foto img {
    width: 60%;
    height: 65%;
  }
  #selected_foto #main_foto {
    position: fixed;
    top: 10%;
  }
  #selected_foto .napis {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 75%;
    right: 10%;
    font-size: 25px;
  }
  #selected_foto figcaption {
    color: red;
  }
  #close {
    position: fixed;
    right: 10px;
    top: 10px;
    font-size: 50px;
  }
  #left, #right {
    width: 50px;
    height: 50px;
  }
  #left {
    top: 50%;
    left: 11%;
  }
  #right {
    top: 50%;
    right: 11%;
  }
}/*# sourceMappingURL=galeria.css.map */