body {
  background-color: #1e1e1e;
  font-family: "Kanit", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

nav {
  width: 100%;
  height: 120px;
  background-color: #171614;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0px;
}
nav #nav_logo {
  width: 50%;
  height: 100%;
  color: #E1DEDA;
  font-size: 60px;
  margin-left: 15px;
  text-align: left;
}
nav #nav_logo h1 {
  margin: 0;
}
nav #nav_span {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}
nav #nav_span hr {
  border: 1px #F88181 solid;
  height: 20px;
  margin: 10px;
}
nav #nav_span .button_1 {
  margin: 15px;
  font-size: 30px;
  font-family: "Kanit", sans-serif;
  background-color: #171614;
  border: 0;
  cursor: pointer;
  color: #E6E9E8;
}
nav #nav_span .button_1:hover {
  color: #E45429;
  transition-duration: 0.5s;
  transform: scale(1.2);
}
nav #nav_span h1 {
  height: 150px;
  margin-top: 25px;
}
nav #nav_span a {
  text-decoration: none;
  color: #E6E9E8;
}
nav #nav_span a:hover {
  color: #E45429;
}
nav #button_mobile {
  display: none;
}

#nav_bar {
  display: none;
}

main {
  margin-top: 350px;
  width: 90%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #E6E9E8;
}
main a {
  text-decoration: none;
  color: #F4EAE7;
  transition-duration: 0.5s;
}
main a:hover {
  color: #E45429;
}
main hr {
  display: none;
}
main #thank p {
  font-size: 80px;
}
main #thank p #h {
  color: red;
  font-size: 125px;
}
main #tutorial {
  margin-bottom: 50px;
  width: 60%;
}
main #plan {
  width: 97%;
  height: auto;
  background-color: #171614;
  margin: 5px;
  padding: 10px;
}
main #plan #slowo {
  background: linear-gradient(to left, #1e1e1e, #E45429, #1e1e1e 80%);
}
main #plan #bugi {
  background: linear-gradient(to bottom left, #1e1e1e, #E45429, #1e1e1e 80%);
}
main #plan #slowo, main #plan #bugi {
  width: 45%;
  padding: 5px;
  height: auto;
  display: flex;
  flex-direction: column;
}
main #plan #slowo input[type=text], main #plan #bugi input[type=text] {
  width: 70%;
  height: 35px;
  margin: 3px;
  text-orientation: upright;
  font-size: 28px;
  box-shadow: 12px 10px 10px 5px #171614;
}
main #plan #slowo #slowo_opis, main #plan #bugi #slowo_opis {
  height: 150px;
}
main #plan #slowo #mail_opis, main #plan #bugi #mail_opis {
  height: 150px;
}
main #plan #formsy {
  width: 100%;
  font-size: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 30px;
}
main #plan #formsy h1 {
  width: 100%;
  margin-bottom: 40px;
}
main #plan #formsy .guzik {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: "Kanit", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin: 0 0 5px 25px;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
main #plan #formsy .guzik:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}
main #plan #formsy .guzik:active {
  transform: scale(1.025);
}
@media (min-width: 768px) {
  main #plan #formsy .guzik {
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
  }
}
main #plan .all {
  margin-right: 10px;
}
main #podziekowania {
  width: 97%;
  height: 50%;
  background-color: #171614;
  margin: 5px;
  padding: 10px;
}
main #podziekowania h2 {
  font-size: 35px;
}
main #podziekowania ul {
  font-size: 28px;
}
main .tekst {
  font-size: 28px;
}

@media screen and (min-width: 901px) and (max-width: 1050px) {
  nav #nav_logo {
    width: 30%;
  }
  nav #nav_span {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
  }
  nav #nav_span .button_1 {
    font-size: 18px;
    margin: 5px;
  }
  nav #nav_span .button_1:hover {
    color: #E45429;
    transition-duration: 0.5s;
    transform: scale(1.1);
  }
  nav #button_mobile {
    display: none;
  }
  main {
    margin-top: 350px;
  }
  main #plan {
    margin-top: 300px;
    height: auto;
  }
  main #podziekowania {
    height: auto;
  }
}
@media screen and (min-width: 1051px) and (max-width: 1281px) {
  nav #nav_logo {
    width: 30%;
  }
  nav #nav_span {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
  }
  nav #nav_span .button_1 {
    font-size: 25px;
    margin: 5px;
  }
  nav #nav_span .button_1:hover {
    transform: scale(1.1);
  }
  nav #button_mobile {
    display: none;
  }
  #nav_bar {
    display: none;
  }
  main #plan {
    margin-top: 200px;
    height: auto;
  }
  main #podziekowania {
    height: auto;
  }
}
@media screen and (max-width: 900px) {
  nav {
    width: 100%;
    height: 125px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  nav #nav_logo {
    width: 50%;
    height: 60%;
    margin-left: 20px;
  }
  nav #nav_logo h1 {
    font-size: 50px;
  }
  nav #nav_span {
    display: none;
  }
  nav #button_mobile {
    display: block;
    width: 20%;
  }
  nav #button_mobile #arrow_button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    display: flex;
    align-items: center;
    transition: 0.5s;
    height: auto;
  }
  nav #button_mobile #arrow_button:hover {
    transform: scale(1.3);
  }
  nav #button_mobile #arrow {
    width: 35px;
    height: 35px;
    transition: 0.5s;
    position: relative;
    right: 0;
    box-shadow: -2px 2px 0 rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transform: rotate(-45deg);
  }
  nav #nav_bar {
    display: none;
    width: 50%;
    height: 170px;
    justify-content: center;
    margin-top: 20px;
    position: fixed;
    top: 60px;
    right: 15px;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  nav #nav_bar ul {
    font-size: 23px;
    width: 100%;
    height: 170px;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }
  nav #nav_bar ul li a {
    text-decoration: none;
    color: #E6E9E8;
    transition-duration: 0.5s;
  }
  nav #nav_bar ul li a:hover {
    color: #E45429;
  }
  nav #nav_bar ul li:hover {
    transition-duration: 0.5s;
    background-color: #171614;
    box-shadow: 6px 5px 5px black;
  }
  main {
    display: flex;
    justify-content: center;
    margin-top: 700px;
  }
  main hr {
    width: 100%;
    border: 1px solid #E45429;
    margin: 50px 0px 25px 0px;
  }
  main .tekst {
    font-size: 22px;
  }
  main #plan {
    width: 100%;
    height: auto;
  }
  main #plan #formsy {
    font-size: 20px;
  }
  main #plan #formsy .guzik {
    width: 35%;
  }
  main #plan #formsy #tutorial {
    width: 100%;
  }
  main #plan #formsy #slowo {
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
  }
  main #plan #formsy #slowo #mail_opis {
    height: 50px;
  }
  main #plan #formsy #bugi {
    width: 100%;
  }
  main #plan #formsy input[type=text] {
    width: 95%;
  }
  main #podziekowania {
    width: 100%;
    height: auto;
  }
  main #podziekowania li {
    margin: 5px;
  }
}/*# sourceMappingURL=kontakt.css.map */