body {
  background-color: #1e1e1e;
  font-family: "Kanit", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
  height: 100px;
  background-color: #171614;
  display: flex;
  align-items: center;
  padding-left: 25px;
  overflow: hidden;
}
nav #nav_logo {
  width: 50%;
  height: 100%;
  color: #E1DEDA;
  font-size: 60px;
  display: flex;
  align-items: center;
}
nav #nav_span {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}
nav #nav_span hr {
  border: 1px #F88181 solid;
  height: 25px;
  margin: 5px;
}
nav #nav_span .button_1 {
  margin: 1px;
  font-size: 30px;
  font-family: "Kanit", sans-serif;
  background-color: #171614;
  border: 0;
  cursor: pointer;
}
nav #nav_span .button_1:hover {
  background-color: #383434;
  color: white;
  transition-duration: 0.5s;
}
nav #nav_span h1 {
  height: 150px;
  margin-top: 25px;
}
nav #button_mobile {
  display: none;
}
nav #nav_bar {
  display: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #1e1e1e;
  margin-top: 50px;
}
main #opis {
  width: 70%;
  background-color: #171614;
  padding: 4px;
  height: auto;
}
main #opis a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
}
main #opis ul {
  font-size: 20px;
}
main #opis .wiki_div {
  padding: 8px;
}
main #opis #wstepny_opis_postaci {
  width: 50%;
  margin: 0;
  height: 200px;
}
main #opis #zdjecie_postaci {
  width: 50%;
  height: auto;
  position: absolute;
  right: -350px;
  top: 160px;
  overflow: hidden;
  font-size: 14px;
}
main #opis #zdjecie_postaci a {
  font-size: 15px;
}
main #opis #zdjecie_postaci img {
  border: 1px solid black;
}
main #opis #zdjecie_postaci img :hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  z-index: 0;
}
main #opis hr {
  border: 1px solid #CB7A7A;
}

footer {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 5px;
}
footer #footer_part {
  width: 50%;
  height: 100%;
}

@media screen and (min-width: 801px) and (max-width: 1281px) {
  nav #nav_logo {
    width: 30%;
  }
  nav #nav_span {
    width: 70%;
    display: flex;
    justify-content: center;
  }
  nav #button_mobile {
    display: none;
  }
  nav #nav_bar {
    display: none;
  }
  main {
    width: 90%;
  }
  main #opis {
    width: 40%;
  }
  main #historia {
    width: 40%;
  }
  main #osiagniecia {
    width: 80%;
  }
  main #wydarzenia {
    width: 80%;
  }
}
@media screen and (max-width: 800px) {
  nav #nav_logo {
    width: 80%;
  }
  nav #nav_logo h1 {
    font-size: 50px;
  }
  nav #nav_span {
    display: none;
  }
  nav #button_mobile {
    background-color: #171614;
    width: 20%;
    height: 60%;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    cursor: pointer;
  }
  nav #button_mobile img {
    width: 40px;
    height: 40px;
  }
  nav #button_mobile button {
    background-color: #171614;
    border: 0;
  }
  nav #nav_bar {
    display: none;
  }
  main {
    width: 100%;
  }
  main #opis {
    width: 100%;
  }
  main #historia {
    width: 100%;
  }
  main #osiagniecia {
    width: 100%;
  }
  main #wydarzenia {
    width: 100%;
  }
}/*# sourceMappingURL=sznyc_css.css.map */