$background_color: #1e1e1e;
$nav_color: #171614;
$h_color: #E1DEDA;
$default_font: 'Kanit', sans-serif;
$font_color: #E6E9E8;
$hover_color: #E45429;

body{
    background-color: $background_color;
    font-family: $default_font;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  }

  @mixin font{
    font-family: $default_font;
    font-size: 22px;
    color: $font_color;
  }

//    Nagłówek i jakieś bajery
nav{
    width: 100%;
    height: 120px;
    background-color: $nav_color;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;

    #nav_logo{
        width: 50%;
        height: 100%;
        color: $h_color;
        font-size: 60px;
        margin-left: 15px;
        text-align: left;
        h1{
            margin: 0;
        }
    }

    #nav_span{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        hr{
            border: 1px #F88181 solid;
            height: 20px;
            margin: 10px;
        }
       .button_1{
            margin: 15px;
            font-size: 30px;
            font-family: $default_font;
            background-color: $nav_color;
            border: 0;
            cursor: pointer;
            color: $font_color;
        }

        .button_1:hover{
            color: $hover_color; 
            transition-duration: 0.5s;
            transform: scale(1.2);
        }

        h1{
            height: 150px;
            margin-top: 25px;
        }

        a{
            text-decoration: none;
            color: $font_color;
        }

        a:hover{
            color: $hover_color; 
        }
    }

    #button_mobile{
        display: none;
    }
}

#nav_bar{
    display: none;
}
//   Main, główny kontent
.content_div{
    font-size: 44px;
}

  main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    background-color: $background_color;
    margin-top: 150px;
    margin-bottom: 15px;
    h2{
        color: $hover_color;
        font-size: 40px;
    }

    #random_article{
        width: 70%;
        height: 100px;
        background-color: $nav_color;
        margin-bottom: 20px;
        padding: 4px;
        box-shadow: 3px 3px 3px 0px black;
        color: red;
        display: flex;
        #random{
            width: 150px;
            height: 80px;
            margin: 10px 0px 0px 40px;
            font-family: $default_font;
            font-size: 22px;
            background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
            cursor: pointer;
            transition-duration: 0.5s;
            border: none;
            box-shadow: 5px 5px 5px 5px black;
        }

        #random:hover{
            transform: scale(1.1);
            background-color: $hover_color;
            color: $font_color;
            box-shadow: 5px 5px 5px 5px black;
        }

        #article{
            width: 25%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 200px;
            background: rgba(255,255,255,0.05);
            a{
                color: rgb(128,128,255,0.8);
            }

            p{
                transition-duration: 0.5s;
            }

            p:hover{
                transform: scale(1.2);
            }
        }
    }

    a{
        text-decoration: none;
        color: #233858;
        font-weight: bold;
        font-size: 23px;
    }

    #admin{
        display: none;
    }

    #opis{
        width: 70%;
        background-color: $nav_color;
        padding: 4px;
        height: auto;
        box-shadow: 3px 3px 3px 0px black;
        font-size: 22px;
        h3{
            a{
                cursor: default;
            }
        }

        ul{
            font-size: 22px;
            list-style: square;
        }

        .wiki_div{
            padding: 8px;
        }
        #wstep{
            height: auto;
        }

        #opis_postaci{
            width: 95%;
            margin: 0px; 
            height: auto;
            display: flex;

            #wstepny_opis{
                width: 70%;
                height: 100%;
            }
            
            #zdjecie_postaci{
                width: 30%;
                text-align: right;
                font-size: 14px;
                display: flex;
                align-items: flex-end;
                flex-direction: column;
                a{
                    font-size: 15px;
                }
    
                img{
                    border: 1px solid black;
                    transition: transform .5s;
                    overflow: hidden;
                    width: 60%;
                    height: 70%;
                }
    
                img:hover{
                    transform: scale(1.1);
                }

                .place{
                    width: 80%;
                }

                figcaption{
                    width: 60%;
                    margin-top: 20px;
                    text-align: center;
                }
            }
        }

        #ciekawostki{
            padding: 8px;
        }

        hr{
            border: 1px solid #CB7A7A;
        }
    }
    #slownik{
        margin-top: 100px;
        margin-bottom: 25px;
        padding-left: 15px;
        font-size: 30px;
        width: 70%;
        height: auto;
        background-color: $nav_color;
        div{
            color: $hover_color;
            font-size: 40px;
        }

    }
    @include font;
  }
  

// Stopka i podpisy
  footer{
    width: 100%;
    height: 40px;
    display: none;
    align-items: center;
    padding: 5px;
    #footer_part{
        width: 50%;
        height: 100%;
    }
  }

//special
@media screen and (min-width: 901px) and (max-width: 1050px){
    nav{
        #nav_logo{
            width: 30%;
        }
     
        #nav_span{
            width: 70%;
            display: flex;
            justify-content: flex-end;
            margin-right: 15px;
            .button_1{
                font-size: 18px;
                margin: 5px;
            }

            .button_1:hover{
                color: $hover_color; 
                transition-duration: 0.5s;
                transform: scale(1.1);
            }
        }

        #button_mobile{
            display: none;
        }
    }

    main{
        #random_article{
            #article{
                width: 270px;
                height: 70px;
                margin-left: 100px;
            }
            a{
                font-size: 20px;
            }
        }
    }
    
}

  // Dla laptopów
@media screen and (min-width: 1051px) and (max-width: 1281px){
    nav{
        #nav_logo{
            width: 30%;
        }
     
        #nav_span{
            width: 70%;
            display: flex;
            justify-content: flex-end;
            margin-right: 15px;
            .button_1{
                font-size: 25px;
                margin: 5px;
            }

            .button_1:hover{
                transform: scale(1.1);
            }
        }

        #button_mobile{
            display: none;
        }
    }

    #nav_bar{
        display: none;
    }

    main{
        width: 90%;
        #opis{
            width: 100%;
            #opis_postaci{
                height: auto;
            }
        }

        #random_article{
            #article{
                width: 300px;
                height: 70px;
                margin-left: 100px;
            }
        }
    }
}

// Dla mobilnych urządzeń (telefon)
@media screen and (max-width: 900px){
    nav{
        width: 100%;
        height: 125px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        #nav_logo{
            width: 60%;
            height: 30%;
            h1{
                font-size: 50px;
            }
        }

        #nav_span{
            display: none;
        }

        #button_mobile{
            display: block;
            width: 20%;
            #arrow_button{
                background-color: rgba(0, 0, 0, 0);
                border: none;
                display: flex;
                align-items: center;
                transition: 0.5s;
                height: auto;
            }
            
            #arrow_button:hover{
                transform: scale(1.3);
            }
            #arrow{
                width: 35px;
                height: 35px;
                transition: 0.5s;
                position: relative;
                right: 0;
                box-shadow: -2px 2px 0 rgba(255,255,255,0.5);
                cursor: pointer;
                transform: rotate(-45deg);
            }
        }
    }

    #nav_bar{
        display: none;
        width: 50%;
        height: 200px;
        justify-content: center;
        margin-top: 20px;
        position: fixed;
        top: 60px;
        right: 0;
        backdrop-filter: blur(5px);
        font-size: 20px;
        ul{
            font-size: 25px;
            width: 100%;
            height: 250px;
            text-align: center;
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            text-decoration: none;
            li{
                margin: 0;
              a{
                text-decoration: none;
                color: $font_color;
                transition-duration: 0.5s;
              }
  
              a:hover{
                color: $hover_color;
              }
            }

            li:hover{
                transition-duration: 0.5s;
                background-color: $nav_color;
                box-shadow: 6px 5px 5px black;
            }
        }   
    }
    
    main{
        width: 100%;
        margin-top: 250px;
        #slownik{
            width: 90%;
            margin-top: 20px;
            p{
                font-size: 18px;
            }

            h2{
                font-size: 35px;
            }
        }

        #random_article{
            width: 100%;
            #random{
                width: 100px;
                height: 60px;
                margin-left: 10px;
                font-size: 20px;
            }
            #article{
                width: 190px;
                height: 75px;
                margin-left: 40px;
            }
            a{
                font-size: 18px;
            }
        }

        #opis{
            width: 95%;
            height: auto;

            #wstep{
                width: 100%;
            }
            
            #opis_postaci{
                display: block;
                width: 100%;
                height: 30%;

                #zdjecie_postaci{
                    display: none;
                }
            }
        }
    }
}

