@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

body{
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 999;
}

main{
    background-color: #3a4452;
    background-repeat: repeat;
    width: 500px;
    height: 725px;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    hr{
        border: solid 1px black;
        margin: 0 5px 0 5px;
    }
    .previous{
        width: 100%;
        height: 8%;
        display: flex;
        align-items: center;
    }
    .current{
        width: 100%;
        height: 8%;
        display: flex;
        align-items: center;
    }
    p{
        font-size: 30px;
        width: auto;
        margin-left: 5px;
    }
    #calc{
        width: 100%;
        height: auto;
        display: grid;
        margin-top: 50px;
        grid-template-columns: repeat(3, 1fr);
        
        button{
            padding: 0;
            font-size: 35px;
            font-weight: bold;
            margin: 5px;
            width: 150px;
            height: 65px;
            border: none;
            border-radius: 10%;
            box-shadow: -8px -8px 11px rgba(255,255,255,0.04),5px 5px 15px rgba(0,0,0,0.2);
            background: transparent;
            cursor: pointer;
            transition: 0.5s ease;
            grid-row: span 1;
            grid-column: span;
            border: none;
            color: #A3AAA6;
            position: relative;
            overflow-y: hidden;
            z-index: 1;
            span{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 94%;
                height: 94%;
                position: absolute;
                top: 2%;
                left: 2.5%;
                border-radius: 10px;
                background: black;
                z-index: 1;
            }
        }
        button:hover{
            font-size: 38px;
            color: #50D087;
        }
        button:hover::before{
            content: "";
            position: absolute;
            top: -70%;
            left: 0;
            width: 150px;
            height: 175px;
            background-image: conic-gradient(transparent,transparent,transparent, #00ccff);
            animation: animate 3s linear infinite;
            z-index: 0;
        }
        @keyframes animate {
            0%{transform: rotate(0deg);}
            100%{transform: rotate(360deg);}  
        }
        #zero{
            grid-row: 7;
            grid-column: 2;
        }
        #dot{
            grid-row: 7;
            grid-column: 1;
        }
        .equal{
            grid-row: 7;
            grid-column: 3;
        }
        .sign{
            font-size: 30px;
        }
        .sign:hover{
            font-size: 32px;
        }
        button:hover{
            background: rgba(#000000, 0.2);
        }
    }
}
    
