@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap");
* {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background: linear-gradient(#2ecc71, #1abc9c);
  background-repeat: no-repeat;
}

hr {
  margin-top: 6em;
  width: 100%;
  border: 1px solid black;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav h1 {
  font-size: 4rem;
  margin: 5px 0 0 5px;
  cursor: pointer;
  transition: 0.5s ease;
}
header nav h1:hover {
  font-size: 4.3rem;
}
header nav button {
  display: inline;
  font-size: 2rem;
  margin: 15px 35px 0 0;
  transition: 0.5s ease;
  background: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}
header nav button:hover {
  transform: scale(1.1);
  border-bottom: 1px solid;
}

main {
  width: 100%;
  display: flex;
  margin: 6em 2em 0 0;
  height: auto;
  justify-content: center;
}
main #description {
  width: 100%;
  height: auto;
  transition-duration: 0.8s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main #description h2 {
  font-size: 2em;
  text-align: center;
}
main #description #offer {
  width: 100%;
  height: auto;
  margin-top: 3em;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin: 50px 10px 0 10px;
}
main #description #offer .task {
  width: 25%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main #description #offer .task .hook_unicode {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
  background-color: white;
  border-radius: 50%;
  font-size: 80px;
  border: 2px solid #D4D8D6;
  transition: 0.5s ease;
}
main #description #offer .task .hook_unicode:hover {
  color: red;
}
main #description #offer .task p {
  height: 50%;
  margin-top: 10px;
  text-align: center;
  font-size: 1.8em;
}
main #description #shop_description {
  font-size: 1.5em;
  height: 1000px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 150px 0 0 0;
}
main #description #shop_description h3 {
  display: inline;
  font-size: 45px;
}
main #description #shop_description .history_level {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main #description #shop_description .history_level .left, main #description #shop_description .history_level .center, main #description #shop_description .history_level .right {
  width: 40%;
  margin-top: 15px;
  font-size: 30px;
}
main #description #shop_description .history_level .left p, main #description #shop_description .history_level .center p, main #description #shop_description .history_level .right p {
  font-size: 45px;
  font-weight: bold;
}
main #description #shop_description .history_level .center {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 30;
}
main #description #shop_description .history_level .center .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgba(206, 214, 210, 0.9);
  font-size: 100px;
}
main #description #shop_description .history_level h4 {
  text-align: center;
  font-size: 35px;
}
main #description #shop_description .history_level .line_left {
  z-index: -1;
  position: absolute;
  left: 30%;
  width: 125px;
  height: 5px;
  background-color: rgba(206, 214, 210, 0.9);
}
main #description #shop_description .history_level .line_left:before {
  content: "";
  display: block;
  background-color: rgba(206, 214, 210, 0.9);
  border-radius: 100%;
  width: 8px;
  height: 8px;
}
main #description #shop_description .history_level .line_right {
  z-index: -1;
  position: absolute;
  right: 30%;
  width: 125px;
  height: 5px;
  background-color: rgba(206, 214, 210, 0.9);
}
main #description #shop_description .history_level .line_right:after {
  content: "";
  position: relative;
  left: 120px;
  display: block;
  background-color: rgba(206, 214, 210, 0.9);
  border-radius: 100%;
  width: 5px;
  height: 5px;
}
main #description #shop_description .history_level .vertical_line {
  z-index: -1;
  position: absolute;
  top: 48%;
  width: 5px;
  height: 225px;
  background-color: rgba(206, 214, 210, 0.9);
}/*# sourceMappingURL=style.css.map */