@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
$font: 'Noto Sans', sans-serif;
$nav_color: linear-gradient(#2ecc71, #1abc9c);
*{
    font-family: $font;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background: $nav_color;
    background-repeat: no-repeat;
}
// horizontal ------------------------------------------------------
hr{
    margin-top: 6em;
    width: 100%;
    border: 1px solid black;
}
// horizontal ------------------------------------------------------
// belka nagłówkowa /start ------------------------------------------------
header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    nav{
        background-color: white;
        display: flex;
        justify-content: space-between;
        h1{
            font-size: 4rem;
            margin: 5px 0 0 5px;
            cursor: pointer;
            transition: 0.5s ease;
        }
        h1:hover{
            font-size: 4.3rem;
        }
        button{
            display: inline;
            font-size: 2rem;
            margin: 15px 35px 0 0;
            transition: 0.5s ease;
            background: rgba(0,0,0,0);
            border: none;
            cursor: pointer;
        }
        button:hover{
            transform: scale(1.1);
            border-bottom: 1px solid;
        }
    }
}
// belka nagłówkowa /koniec --------------------------------------------------
// main /start ----------------------------------------------------------------
main{
    width: 100%;
    display: flex;
    margin: 6em 2em 0 0;
    height: auto;
    flex-direction: column;
    justify-content: center;
    // #bar{
    //     position: fixed;
    //     left: 0;
    //     top: 125px;
    //     width: 140px;
    //     height: 140px;
    //     border: 5px black;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     border-radius: 50%;
    //     transition: 0.5s ease;
    //     #bar_arrow{
    //         width:60px;
    //         height: 60px;
    //         border-bottom: 5px solid black;
    //         border-right: 5px solid black;
    //         rotate: (-45deg);
    //         transition: 0.5s ease;
    //     }
    //     #bar_arrow:hover{
    //         transform: scale(1.1);

    //     }
    // }
    // #bar:hover{
    //     box-shadow: 0px 0px 10px 10px black;
    // }
    //h1 z haczykami i ich opisami /start ---------------------------------------------
    #description{
        width: 100%;
        height: auto;
        transition-duration: 0.8s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
            font-size: 2em;
            text-align: center;
        }
        #offer{
            width: 100%;
            height: auto;
            margin-top: 3em;
            display: flex;
            justify-content: center;
            justify-content: space-between;
            margin: 50px 10px 0 10px;
            .task{
                width: 25%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .hook_unicode{
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                    text-align: center;
                    background-color: white;
                    border-radius: 50%;
                    font-size: 80px;
                    border: 2px solid #D4D8D6;
                    transition: 0.5s ease;
                }
                .hook_unicode:hover{
                    color: red;
                }
                p{
                    height: 50%;
                    margin-top: 10px;
                    text-align: center;
                    font-size: 1.8em;
                }
            }
        }
        //h1 z haczykami i ich opisami /koniec ---------------------------------------------
    }
    //etapy rozwoju firmy /start ---------------------------------------------------
    #shop_description{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-direction: column;
        font-size: 1.5em;
        height: 4000px;
        width: 100%;
        margin: 150px 0 0 0;
        h3{
            display: inline;
            font-size: 40px;
        }
        #first_level{
            margin-top: 75px;
        }
        .history_level{
            display: flex;
            flex-direction: row;
            margin-top: 200px;
            width: 95%;
            height: 9%;
            .history_line{
                width: 30%;
                height: 100%;
                .hook_unicode{
                    background-color: rgba(white, 0.8);
                    position: relative;
                    z-index: 10;
                }
                .horizontal_line{
                    display: block;
                    position: absolute;
                    left: 60px;
                    width: 5px;
                    height: 450px;
                    background-color: rgba(#D4D8D6, 0.8);
                }
            }
            .level{
                width: 70%;
                height: 100%;
                font-size: 35px;
                h4{
                    font-size: 50px;
                }
                p{
                    font-size: 40px;
                    padding: 8px 0 8px 0;
                    font-weight: bold;
                }
            }
        }
        // haczyki w ważnych wydarzeniach /start -----------------------------------------------------
        .hook_unicode{
            display: flex;
            flex-direction: column;
            width: 30%;
            text-align: center;
            background-color: white;
            border-radius: 50%;
            font-size: 80px;
            border: 2px solid #D4D8D6;
            transition: 0.5s ease;
        }
        // haczyki w ważnych wydarzeniach /koniec -----------------------------------------------------
    }
    //etapy rozwoju firmy /koniec ----------------------------------------------
}
// main /koniec----------------------------------------------------------------