*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
#nav-data{
    color: red;
    font-size: 1.5rem;
}

#nav-data input{
    width: 15rem;
    height: 1.5rem;
    font-size: 1.3rem;
}

main{
    background-color: pink;
    font-size: 1.5rem;
}

main button{
    width: 4rem;
    height: 1.2rem;
}

main table{
    width: 100%;
}

.special-col{
    background-color: red;
    width: 5%;
}

.special-col button{
    width: 100%;
    height: 100%;
}

.special-col button:hover{
    cursor: pointer;
}



