body{
    font-family: 'Open Sans';
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #dad9d1;
}

#container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#nav{
    width: 100;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    background-image: url(images/menu.png);
}

#nav_logo{
    transform: translate(0px, 0px);
}

#nav_span{
    width: 50%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_select{
    margin: 20px;
    padding: 3px;
}

#Strona_glowna{
    border: 3px dashed #fff718;
    border-radius: 20px;
    padding: 5px 15px 5px 15px;
}

#main{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
    background-color: #fff718;
}


#left{
    width: 25%;
    height: 1000px;
}

#clew{
    transform: translate(80px, -120px);
}

#paper_1{
    transform: translate(-140px, -110px);
}

#center{
    width: 50%;
    margin-top: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

hr{
    width: 350px;
    border: 1px solid #db214a;
}

#center_up{
    height: 25%;
    padding-top: 75px;
}

#center_up > h1, h2{
    font-size: 36px;
    font-weight: normal;
}

#center_up > h2{
    color: #db214a;
}

#center_center{
    width: 600px;
    height: 10%;
    margin: 20px;
}

#center_down{
    height: 65%;
    padding-bottom: 50px;
}


.center_items{
    text-decoration: none;
}

#right{
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    overflow: hidden;
}

#cm > img{
    width: 70%;
    height: 80%;
}

#cm{
    transform: translate(30%,-80px);
}

#paper_2 > img{
    width: 80%;
    height: 90%;
}
#paper_2{
    transform: translate(40%,-5%);
}

#bar{
    background-image: url(images/bot-bar.png);
    width: 100%;
    height: 15px;
    margin-top: 5px;
    margin-bottom: 15px;
}

#bottom{
    width: 100%;
    background-color: #dad9d1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#bottom_help{
    width: 60%;
    display: flex;
    flex-wrap: nowrap;
}

h3{
    font-weight: normal;
}

#bottom_left{
    width: 33%;
    background-image: url(images/back1.jpg);
    color: white;
    padding: 30px;
}
#bottom_center{
    width: 33%;
    background-image: url(images/back2.jpg);
    color: white;
    padding: 30px;
}
#bottom_right{
    width: 33%;
    background-image: url(images/back3.jpg);
    color: black;
    padding: 30px;
}

#footer{
    width: 60%;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    color: #9999a7;
    margin-top: 20px;
}

#footer > hr{
    border:  1px dashed #D3971E;
    width: 100%;
}

#foot_1{
    width: 50%;
}

#foot_1 > p > a{
    text-decoration: none;
    color: #9999a7;
}

#foot_2{
    text-align: right;
    width: 50%;
}














