#container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#lewy_panel{
    width: 10%;
    height: 100%;
    background-color: yellow;
    display: flex;
    justify-content: center;
}

#lewy_panel > img{
    width: 160px;
    height: 130px;
    padding: 10px;
}

#naglowek{
    width: 90%;
    height: 75px;
    display: flex;
    display: inline-block;
}

#naglowek_pierwszy{
    width: 100%;
    height: 25px;
    font-size: 13px;
    background-color: red;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

#naglowek_pierwszy > p {                    
    padding: 5px;
}

#naglowek_drugi{
    width: 100%;
    height: 50px;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.czesc_naglowka_drugiego{
    display: flex;
    align-items: center;
}

.czesc_naglowka_drugiego > p{
    padding: 5px;
}

.czesc_naglowka_drugiego > input{
    font-size: 13px;
    padding: 10px;
    resize: horizontal;
    width: 250px;
    height: 10px;
}

#obraz_kontener{
    width: 90%;
    height: 120px;
    background-color: orange;
    display: flex;
}

#obraz{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#obraz > img{
    width: 90%;
    height: 80%;
    border: 1px;
    border-style: solid;
    border-color: black;
}

#tresc_kontener{
    width: 90%;
    height: 250px;
    background-color: green;
    display: flex;
    flex-direction: column;
}

#tresc_z_tabela{
    background-color: pink;
    display: flex;
    flex-direction: row;
}

#tabela{
    font-size: 13px;
    text-align: center;
    text-align: left;
}

#tabela > p{
    text-align: center;
}

#tabela > table{
    display: inline;
}
.tresc{
    background-color: blue;
    padding: 5px;
    font-size: 17px;
}

.tresc > hr{
    color: #E7E1CF;
    display: flex;
}

.tresc > h1{
    font-size: 29px;
    padding: 3px;
}

.tresc > h2{
    font-size: 20px;
    display: inline-block;
}

.tresc > p{
    font-size: 17px;
    padding: 3px;
    display: inline-block; 
}










