body{
    overflow-x: hidden;
    background-color: #EAF1F3;
}

#container{
    width: 89vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

#lewy_panel{
    width: 10%;
    height: 100%;
    background-color: #EAF1F3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#lewy_panel_foto{
    display: flex;
    justify-content: center;
}

#lewy_panel_foto > img{
    width: 70%;
    text-align: center;
}

.panele{
    width: 100%;
    height: auto;
    background-color: #EAF1F3;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.panele > ul{
    list-style-type: none;
}

#naglowek{
    width: 100%;
    height: 8%;
    background-color: #EAF1F3;
    display: flex;
    display: inline-block;
}

#naglowek_pierwszy{
    width: 100%;
    height: 25px;
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

#naglowek_pierwszy > p {                    
    padding: 5px;
}

#naglowek_drugi{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.czesc_naglowka_drugiego{
    display: flex;
    align-items: center;
}

.czesc_naglowka_drugiego > p{
    padding: 5px;
}

.czesc_naglowka_drugiego > input{
    font-size: 13px;
    padding: 10px;
    resize: horizontal;
    width: 250px;
    height: 10px;
}

#obraz_kontener{
    width: 100%;
    height: 13%;
    background-color: #EAF1F3;
    display: flex;
}

#obraz{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#obraz > img{
    width: 90%;
    height: 80%;
    border: 1px;
    border-style: solid;
    border-color: black;
}

#obramowanie{
    background-color: white;
    height: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #4EC9EE;
}

#obramowanie_part{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#tresc_glowna{
    width: 80%;
    height: 60px;
    padding: 10px;
}

#tabela{
    width: 18%;
    font-size: 13px;
    text-align: left;
    display: flex;
    justify-content: flex-end;
}

#tabela > table{
    border: 1px solid;
    border-collapse: separate;
    width: 70%;
}

.lrw{
    text-align: center;
    word-spacing: 18px;
}

.Hasan{
    background-color: #80CBE1;
    text-align: center;
    border: solid 1px;
}

.fa-futbol{
    font-size: 20px;
    margin-right: 40px;
}

.Kariera{
    background-color: #80CBE1;
    text-align: center;
}

.pozycja{
    width: 50%;
    background-color: #EAF1F3;
} 

.Egipt{
    text-align: center;
}

.Egipt > img{
    width: 20px;
    height: 20px;
}
.tresc{
    width: 70%;
    height: 150px;
    background-color: white;
    padding: 10px;
    font-size: 15px;
}

.tytul > hr{
    color: #E7E1CF;
    display: flex;
}

.tytul > h1{
    font-size: 29px;
    padding: 3px;
}

.tytul > h2{
    font-size: 20px;
    display: inline-block;
}

.tytul > p{
    font-size: 17px;
    padding: 3px;
    display: inline-block; 
}

#Sklad{
    width: 99%;
    height: 5%;
    font-size: 14px;
    padding: 5px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px grey;
    box-sizing: border-box;
    box-shadow: 0 0 0 0 10px red;
    
}

#Kategorie{
    
    height: 6%;
    font-size: 13px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid grey;
}

#Kategorie > p{
    padding: 2px;
}

#footer{
    width: 100%;
    height: 15%;
    background-color: #EAF1F3;
    font-size: 13px;
    padding: 20px;
}

#f1, #f2, #f3{
    display: flex;
    padding: 3px;
}

#tekst_f3{
    width: 80%;
    display: flex;
    justify-content: flex-start;
}

#tekst_f3 > p{
    padding: 8px;
}

#foto_f3{
    background-color: #EAF1F3;
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#foto_f3 > img{
    padding: 5px;
}

















