#container{
    width: 100%;
    height: 100%;
}

#lewy_panel{
    width: 10%;
    height: 100%;
    text-align: center;
    float: left;
    background-color: yellow;
}

#lewy_panel > img{
    width: 90%;
    height: 130px;
}

#naglowek_pierwszy{
    width: 90%;
    height: 25px;
    font-size: 13px;
    background-color: red;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#naglowek_pierwszy > p {                    
    padding: 5px;
}

#naglowek_drugi{
    width: 90%;
    height: 50px;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.czesc_naglowka_drugiego{
    display: flex;
    flex-direction: row;
}

.czesc_naglowka_drugiego > p{
    padding: 5px;
}

#obraz{
    width: 90%;
    height: 200px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

#obraz > img{
    width: 90%;
    height: 60%;
    border: 1px;
    border-style: solid;
    border-color: #D5CCB3;
}

#tresc{
    width: 90%;
    height: 250px;
    background-color: green;
    display: flex;
    justify-content: center;
}





